/* Global */
    
    /* Styles the page background */
    body {
        background-color: rgb(226, 221, 221);
    }

/* Header */

    /* Styles the navbar */
    .navbar {
        padding: 0px;
        background-color: whitesmoke;
    }

    /* Styles the name section in navbar */
    .navbar-brand {
        color: whitesmoke;
        background-color: #e7717d;
        margin-left: 35px;
        padding: 15px;
        font-size: 26px;
    }
    
    /* Styles the hover pseudo-class applied to the link */
    .navbar-brand:hover {
        color: rgb(25, 25, 25);
    }

    /* Styles the About, Portfolio and Contact items in navbar */
    .nav-link {
        color: grey;
    }

    /* Styles the hover pseudo-class applied to the links */
    .nav-link:hover {
        color: rgb(25, 25, 25);
    }

/* Main Section || Containers */

    /* Styles the containers */
    .container {
        background-color: whitesmoke;
        margin-top: 35px;
        width: 60%;
        float: left;
        margin-left: 35px;
    }

    /* Styles the headings inside the containers */
    h2 {
        color: #e7717d;
        font-weight: 400px;
        margin-top: 20px;
    }

    /* Styles the <hr> element inside the containers */
    hr {
        border-width: 5px;
    }

/* Portfolio Page */

    /* Styles the images */
    .images {
        height: 200px;
        width: 100%;
    }

    /* Styles the hover pseudo-class applied to the images */
    .images:hover {
        filter: brightness(115%); 
    }

    /* Styles the text blocks over the images */
    .text-block {
        position: relative;
        color: whitesmoke;
        background-color: #e7717d;
        text-align: center;
        bottom: 55px;
        padding: 5px;
    }

/* About Me Page */

    /* Styles the image and text interaction in the second row of the container */
    .float-left {
        margin-right: 20px;
    }

/* Contact Page */

    /* Styles the submit button */
    .btn {
        background-color: #e7717d;
        border-color: #e7717d;
        color: whitesmoke;
    }

    /* Styles the hover pseudo-class applied */
    .btn:hover {
        background-color: grey;
        border-color: grey;
    }

/* Footer */

    /* Styling the footer box */
    footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background-color: grey;
    border-top: 3px solid #e7717d;
    padding: 15px;
    }

    /* Styling the Copyright logo inside the footer box */
    h4 {
        font-size: 16px;
    }

/* Media Queries */

    /* Width at 768px and below */
    @media only screen and (max-width: 768px) {
        .container {
            width: 100%;
            margin: 20px;
        }
    }

    /* Width at 640 and below */
    @media only screen and (max-width: 640px) {
        .container {
            width: 100%;
            margin: 20px;
        }
    }