
nav {
    background-color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
    background-color: #e7717d;
    margin-left: 35px;
    padding: 15px;
    font-size: 26px;
}

.navbar {
    padding: 0px;
}

.nav-link {
    color: rgb(51, 51, 51);
}

.page {
    background-color: rgb(226, 221, 221);
}

.container {
    background-color: whitesmoke;
    margin-top: 35px;
    width: 60%;
    float: left;
    margin-left: 35px;
}

.images {
    height: 200px;
    width: 100%;
}

hr {
    border-width: 5px;
}

.text-block {
    color: whitesmoke;
    background-color: #e7717d;
    text-align: center;
    padding: 3px;

}

.float-left {
    margin-right: 20px;
}

h2 {
    color: #e7717d;
    font-weight: 400px;
    margin-top: 20px;
}


.btn {
    background-color: #e7717d;
    border-color: #e7717d;
    color: whitesmoke;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: whitesmoke;
   text-align: center;
   background-color: grey;
   border-top: 3px solid #e7717d;
   padding: 15px;
}

h4 {
    font-size: 16px;
}